# Visualize the data from CSV

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import numpy as np

## First CSV file: "grafana_data_export_cpu.csv"

In [2]:
# Load the CSV
pd_raw = pd.read_csv("./grafana_data_export_cpu.csv", sep=';')
pd_raw.head(5)

  Series                       Time  Value
0    cpu  2019-12-05T18:42:00-05:00  7.500
1    cpu  2019-12-05T18:42:20-05:00  7.875
2    cpu  2019-12-05T18:42:40-05:00  7.850
3    cpu  2019-12-05T18:43:00-05:00  7.500
4    cpu  2019-12-05T18:43:20-05:00  7.525

## For "CPU"

In [3]:
# Seperate the cpu and the memory
# CPU
cpu_pd_raw = pd_raw.loc[pd_raw['Series'] == 'cpu']

In [4]:
cpu_pd_raw.reset_index().head(5)

   index Series                       Time  Value
0      0    cpu  2019-12-05T18:42:00-05:00  7.500
1      1    cpu  2019-12-05T18:42:20-05:00  7.875
2      2    cpu  2019-12-05T18:42:40-05:00  7.850
3      3    cpu  2019-12-05T18:43:00-05:00  7.500
4      4    cpu  2019-12-05T18:43:20-05:00  7.525

In [5]:
# Drop the null and NAN
cpu_pd = cpu_pd_raw[np.isfinite(cpu_pd_raw['Value'])]
cpu_pd.set_index('Time', inplace = True)
cpu_pd.drop(columns=['Series']).head(3)

                           Value
Time
2019-12-05T18:42:00-05:00  7.500
2019-12-05T18:42:20-05:00  7.875
2019-12-05T18:42:40-05:00  7.850

In [ ]:
#

## For memory

In [18]:
# Memory
memory_pd_raw = pd_raw.loc[pd_raw['Series'] == 'memory']

In [23]:
memory_pd_raw.reset_index()

     index  Series                       Time  Value
0      360  memory  2019-12-05T18:42:00-05:00    NaN
1      361  memory  2019-12-05T18:42:20-05:00    NaN
2      362  memory  2019-12-05T18:42:40-05:00    7.0
3      363  memory  2019-12-05T18:43:00-05:00    NaN
4      364  memory  2019-12-05T18:43:20-05:00    NaN
..     ...     ...                        ...    ...
355    715  memory  2019-12-05T20:40:20-05:00    NaN
356    716  memory  2019-12-05T20:40:40-05:00    NaN
357    717  memory  2019-12-05T20:41:00-05:00   12.0
358    718  memory  2019-12-05T20:41:20-05:00    NaN
359    719  memory  2019-12-05T20:41:40-05:00    NaN

[360 rows x 4 columns]

In [29]:
# Drop the NAN or null
memory_pd = memory_pd_raw[np.isfinite(memory_pd_raw['Value'])]

In [30]:
memory_pd

     Series                       Time  Value
362  memory  2019-12-05T18:42:40-05:00    7.0
365  memory  2019-12-05T18:43:40-05:00    5.0
368  memory  2019-12-05T18:44:40-05:00    1.0
371  memory  2019-12-05T18:45:40-05:00    5.0
374  memory  2019-12-05T18:46:40-05:00    4.0
..      ...                        ...    ...
705  memory  2019-12-05T20:37:00-05:00   16.0
708  memory  2019-12-05T20:38:00-05:00   13.0
711  memory  2019-12-05T20:39:00-05:00   11.0
714  memory  2019-12-05T20:40:00-05:00    9.0
717  memory  2019-12-05T20:41:00-05:00   12.0

[119 rows x 3 columns]